#site-name {
	float: left;
	width: 50%;
	text-align: center;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 300%;
}

#site-name:hover {
	cursor:pointer;
}

.subclass {
	color: red;
	font-size: 40%;
	font-family: Cursive;
}